.chatbox{   
    width: 100%;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    background-color: rgb(9, 42, 42);
   
   
}
input:focus{
    outline: none;
    /* -webkit-appearance:none; */
}
input[type="text"]{
    width: 42%;
    border: none;
    border-radius: 5px;
   background-color:teal;

   color: white;

    padding: 10px;
    font-size: 16px;
    /* color: #fff; */
    /* background-color: #000; */
    /* margin-bottom: 10px; */
    border-radius: 10px 30px;
    /* border: 1px solid yellow; */
}
.chat-box-header{
    /* border:  1px solid maroon; */
    height: 80px;
    width: 100%;
    padding: 0px;
}


.logo-small {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #000; 
    margin-right: 3px;
}
/* style for 2 input box and 2 image having chat */


.sender-right{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
   justify-content: flex-end;
}

.reciever-left{
    /* border: 1px solid orange; */
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
   
}


